@import './utils.styl'

// Style of dialog boxes
.modal__content:not(.finder-prompt)
	position: absolute
	//top: 60vh
	left: 0
	bottom: 0

.message__content p
	font-size: normalFontSize !important
	line-height: normalFontSize

.modal__backdrop, .modal-form
	darkGradientBackground()
	opacity: 1
	// filter: brightness(0.0)

// Text inputs to text area
.textinput-cell-input-content
	width: 100% !important
	max-height: 400px !important
	overflow: auto !important
	background-color: white !important
	box-sizing: border-box !important
	white-space: pre-wrap !important /* Preserves whitespace and line breaks */
	word-wrap: break-word !important /* Ensures long words do not overflow */