// Folders menu
.tabs
	overflow: unset

.folder-list__items
	max-height: 100vh
	overflow-y: auto
	position: sticky
	top: 10px
	z-index: 99999

.datatableheader-label
	flex-direction: row-reverse

.pagetitle-label
	cursiveCascadiaFont()
