.datatable-header-container:not(.modal-form-content .datatable-header-container),
.datatable-row:not(.modal-form-content .datatable-row)
	.datatable-column:nth-child(3):not(.modal-form-content .datatable-column)
		width: 300px !important

	.datatable-column:nth-child(2):not(.modal-form-content .datatable-column)
		width: 40px !important
