@import './utils.styl'

html.better-aa-styles-enabled
	@import './editorMain.styl'
	@import './fonts.styl'
	@import './taskbot.styl'

html.better-aa-styles-enabled.better-aa-bg-style
	@import './background.styl'

html.better-aa-styles-enabled.better-aa-loading-cat
	@import './customLoadingIcon.styl'

html.better-aa-styles-enabled.better-aa-custom-palette-buttons
	@import './editorActionsVariablesTriggers.styl'

html.better-aa-styles-enabled.better-aa-editor-tabs-buttons
	@import './editorTabsButtons.styl'

html.better-aa-styles-enabled.better-aa-path-finder
	@import './rootSidebarAutoHide.styl'

html.better-aa-styles-enabled.better-aa-run-button-enabled
	@import './editorRunButton.styl'

html.better-aa-styles-enabled.better-aa-adjust-folder-columns-width
	@import './foldersColumns.styl'

html.better-aa-styles-enabled.better-aa-make-sidebar-scrollable
	@import './foldersScrollable.styl'
