@import './utils.styl'

// width based on hover
.pathfinder--is_collapsed,
.main-layout__navigation
	width: 10px !important
	transition: width 0.1s ease

.pathfinder--is_collapsed:hover,
.main-layout__navigation:hover
	width: 48px !important
	transition: width 0.1s ease