customLoadingGif()
	background: var(--better-aa-user-bg, var(--better-aa-loading-image-url))
	background-size: var(--better-aa-user-bg-size, contain)
	background-repeat: no-repeat

customGradientBackground()
	background:
		radial-gradient(circle, var(--better-aa-background-color-1, rgba(182, 182, 182, .2)) 20%, transparent 20%),
		radial-gradient(circle, var(--better-aa-background-color-3, rgba(182, 182, 182, .0)) 20%, transparent 20%),
		linear-gradient(
			to bottom left,
			var(--better-aa-background-color-1, rgba(182, 182, 182, .0)) 0%,
			var(--better-aa-background-color-3, rgba(182, 182, 182, .1)) 100%
		) !important
	background-size: 10px 10px, 10px 10px, auto !important
	background-position: 0 0, 5px 5px, 0 0 !important
